.box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0FFF4;
  font-size: 32px;
  line-height: 15px;
  font-weight: 400;
  font-family: "Poppins", sans;
  color: #46CD80;
  
}